
body{
    display: flex;   
}

.lado-esquerdo{
    width: 40%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 550px;
}

.lado-direito{
    width: 60%;    
    display: flex;
    background: #ff7a00;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}

h1{
    margin-bottom: 30px;
    color: #1e3e75;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #18315e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

input,
textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    
}

input[type="submit"]{
    margin-top: 20px;
    background: #1e3e75;
    color: white;
    border: none;
    cursor: pointer;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;

}
